html{
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    height: 100%;
}
table,tr,td{
    border: 1px solid black;
}
table{
    width: 100%;
}
#rightPage{
    width: 100%;
}
menu{
    padding-left: 0;
    background-color: black;
    padding:10px;
    margin: 0;
    width: 150px;
    height: 100%;
    margin-right:20px;
}
li{
    list-style: none;
    line-height: 3rem;
}
a{
    text-decoration: none;
    color: white;
}